body{
    text-align: center;
    background-color: black;

}
h1{
    font-size: 30px;
    color:aquamarine;
    border-bottom: 1px solid greenyellow;
}
ul{
    color: aqua;
    margin-bottom: 50px;
    border-bottom:  1px solid  red;

}
li{
    display: block;
    margin-bottom: 5px;
}
label{
    size: 20px;
}
button{
    height: 30px;
    width: 50;
    color: hotpink;
}
p{
    font-size: 30px;
}
}